@import "tailwindcss";

/* =======================
   Custom Theme Variables
   ======================= */
   :root {
    --bg: #fff;
    --text: #0F0F0F;
  }
  
  [data-theme="dark"] {
    --bg: #0F0F0F;
    --text: #fff;
  }
  
  /* =======================
     Global Styles
     ======================= */
  body {
    background: var(--bg);
    color: var(--text);
    transition: background-color 0.18s ease, color 0.18s ease;
  }