@import "tailwindcss";

/* =======================
   Custom Theme Variables
   ======================= */
:root {
  --bg: #fff;
  --text: #0f0f0f;
  --text_gray: #393939;
  --gray: #f4f4f4;
  --gray_dunkel: #e5e5e5;
  --orange: #e29b03;
  --olive: #a8b6a6;
  --olive_bright: #52814d;
  --shadow_color: #d4d2d2;
  --shadow_color2:#ececec;
  --green-orange:#52814d;
  --green-orange-hover:#2f5e2a;
}

[data-theme="dark"] {
  --bg: #0f0f0f;
  --gray_dunkel: #2b2b2b;
  --text: #fff;
  --text_gray: #c0bebe;
  --gray: #1b1b19;
  --orange: #f4b619;
  --olive: #4f694c;
  --shadow_color: #838181;
  --shadow_color2:rgb(39, 41, 39);
  --green-orange:#f4b619;
  --green-orange-hover:#cf9604;
}

/* =======================
     Global Styles
     ======================= */
body {
  background: var(--bg);
  color: var(--text);
  transition: background-color 0.18s ease, color 0.18s ease;
}
h1{
  font-size: 2.5em;
}
h2{
  font-size: 2em;
}
h3{
  font-size: 1.5em;
}

@media (max-width:900px ) {
  h1{
    font-size: 2em;
  }
  h2{
    font-size: 1.6em;
  }
  h3{
    font-size: 1.3em;
  }


}


@media (max-width:600px ) {
  h1{
    font-size: 1.5em;
  }
  h2{
    font-size: 1.2em;
  }
  h3{
    font-size: 1em;
  }


}

/* =======================
     Custom List
     ======================= */
.custom-list ul{
  @apply list-disc list-inside;
}

.custom-list ol{
  @apply list-disc list-inside;
}

/* ======================
    Underline Orange
  ========================*/
.link-underline {
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* можна трохи підняти чи опустити */
  width: 0;
  height: 2px;
  background-color: var(--orange); /* оранжевий (Tailwind orange-500) */
  transition: width 0.3s ease;
}

.link-underline:hover {
  color: var(--orange);
}

.link-underline:hover::after {
  width: 100%;
}

.main-shadow {
  box-shadow: 0 2px 4px var(--shadow_color);
}
@media (max-width:600px ) {
  .main-shadow {
    box-shadow: none;
  }
}
.side-bar-button-shadow  {
  box-shadow: 0 2px 4px  var(--shadow_color2);
}
/*======================================== 
          ReactQuill 
=========================================*/
.ql-toolbar .ql-picker-label,
.ql-toolbar .ql-picker-item {
  color: var(--text_gray) !important;
}
/* .ql-snow .ql-picker-options {
  background-color: var(--bg) !important;
} */
.my-editor .ql-toolbar .ql-picker-label,
.my-editor .ql-toolbar .ql-picker-item {
  color: var(--text_gray) !important;
}
.my-editor .ql-toolbar .ql-stroke {
  stroke: var(--text_gray) !important;
}
.my-editor .ql-toolbar .ql-fill {
  fill: var(--text_gray) !important;
}

.my-editor .ql-toolbar button.ql-active .ql-stroke {
  stroke: orange !important;
}
.my-editor .ql-toolbar button.ql-active .ql-fill {
  fill: orange !important;
}
.my-editor .ql-toolbar .ql-picker-label.ql-active {
  color: orange !important;
}
.my-editor .ql-toolbar .ql-picker-item.ql-selected {
  color: orange !important;
}
