/* =============================
   Day/Night Switcher Module
   ============================= */

.daynight {
  -webkit-tap-highlight-color: transparent;
  display: block;
  position: relative;
  cursor: pointer;
  width: 60px;
  height: 25px;
  border-radius: 15px;
  border:0.5px solid  #F4B619;
  font-size: 0.3rem;
  overflow: hidden;
  isolation: isolate;
  box-shadow: 0 -0.1em 0.1em 0.03em rgba(0, 0, 0, 0.2),
    0 0.1em 0.1em 0.03em rgb(255, 255, 255);

  --day: #397ab0;
  --night: #1c202c;
  --sun: #f2c426;
  --moon: #c5c8cf;
  --cloud-front: #fff;
  --cloud-back: #a5c5dc;
  --star: #fff;
  --duration: 1s;
  --easing: cubic-bezier(0.65, 0, 0.34, 1.17);
  --clouds-time: 20s;
  --stars-time: 7s;
}

.daynight__checkbox {
  appearance: none;
  pointer-events: none;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: 2;
}

.daynight__sky {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1em;
  background-color: var(--day);
  transition: background var(--duration) var(--easing);
  position: relative;
  overflow: hidden;
}

/* Хмари */
.daynight__sky::before,
.daynight__sky::after {
  content: "";
  z-index: 3;
  position: absolute;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  left: 13em;
  top: 0.5em;
  opacity: 0.9;
  transition: var(--duration) var(--easing);
  box-shadow: 
  -3.33em 0 0 0 var(--cloud-front),
  -4.23em 0.83em 0 -0.33em var(--cloud-front),
  -5.5em 1.93em 0 0 var(--cloud-front),
  -6.67em 1.9em 0 -0.33em var(--cloud-front),
  -7.83em 1.67em 0 -0.4em var(--cloud-front),
  -9.33em 1.83em 0 -0.33em var(--cloud-front),
  -10.33em 2.5em 0 0 var(--cloud-front),
  3em 0.33em 0 0 var(--cloud-front);
  animation: clouds var(--clouds-time) infinite;
}

.daynight__sky::before {
  z-index: 1;
  box-shadow: -3.5em -0.73em 0 0 var(--cloud-back),
  -5em 0 0 -0.67em var(--cloud-back),
  -5.83em 0.6em 0 -0.33em var(--cloud-back),
  -6.83em 1.53em 0 0 var(--cloud-back),
  -8.17em 1.4em 0 0 var(--cloud-back),
  -9.5em 1.93em 0 0 var(--cloud-back),
  -10.5em 2.17em 0 0 var(--cloud-back);
  animation-delay: -5s;
  animation-duration: 15s;
}

/* Нічне небо */
.daynight__checkbox:checked ~ .daynight__sky {
  background-color: var(--night);
}

.daynight__checkbox:checked ~ .daynight__sky::before,
.daynight__checkbox:checked ~ .daynight__sky::after {
  transform: translateY(10em);
  opacity: 0;
}

/* Сонце / Місяць */
.daynight__sunmoon {
  position: absolute;
  z-index: 2;
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  background-color: var(--sun);
  box-shadow: 0.4em 0.4em 0.5em 0.1em rgba(0, 0, 0, 0.3),
    inset -0.2em -0.2em 0.5em 0 rgba(0, 0, 0, 0.4),
    inset 0.2em 0.2em 0.5em 0 rgb(255, 254, 255);
  transition: transform var(--duration) var(--easing),
    background-color var(--duration) var(--easing);
  left: 1em;
  top: 0.2em;
  overflow: hidden;
}

/* Кратери на місяці */
.daynight__sunmoon::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(
      circle,
      rgba(150, 157, 176, 1) 0.7em,
      rgba(121, 128, 144, 1) 0.2em,
      rgba(129, 136, 153, 0) 0.6em
    ),
    radial-gradient(
      circle,
      rgb(150, 157, 176) 0.1em,
      rgb(121, 128, 144) 0.5em,
      rgba(129, 136, 153, 0) 0.1em
    ),
    radial-gradient(
      circle,
      rgb(150, 157, 176) 0.1em,
      rgb(121, 128, 144) 0.3em,
      rgba(129, 136, 153, 0) 0.5em
    );
  background-position: -1.2em 0.7em, 0em -2em, 2em 1.4em;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(105%) rotate(50deg);
}

/* Місяць рухається по дузі */
.daynight__checkbox:checked ~ .daynight__sky .daynight__sunmoon {
  transform: translateX(6em);
  background-color: var(--moon);
}

.daynight__checkbox:checked ~ .daynight__sky .daynight__sunmoon::before {
  transform: translateX(0) rotate(0);
}

/* Зірки */
.daynight__stars::before,
.daynight__stars::after,
.daynight__morestars::before,
.daynight__morestars::after {
  content: "✦";
  position: absolute;
  font-size: 1.35em;
  color: var(--star);
  opacity: 0;
  transform: translateY(-8em);
  transition: var(--duration) var(--easing);
  animation: stars var(--stars-time) infinite;
}

/* Позиції зірок */
.daynight__stars::before {
  top: 4px;
  left: 6px;
}
.daynight__stars::after {
  top: 1px;
  left: 15px;
}
.daynight__morestars::before {
  top: 6px;
  left: 27px;
}
.daynight__morestars::after {
  top: 12px;
  left: 20px;
}

.daynight__checkbox:checked ~ .daynight__sky .daynight__stars::before,
.daynight__checkbox:checked ~ .daynight__sky .daynight__stars::after,
.daynight__checkbox:checked ~ .daynight__sky .daynight__morestars::before,
.daynight__checkbox:checked ~ .daynight__sky .daynight__morestars::after {
  opacity: 1;
  transform: translateY(0);
}

/* Анімації */
@keyframes clouds {
  0%,
  100% {
    transform: scale(1)  translateY(0px);
  }
  50% {
    transform: scale(1.05)  translateY(2px);
  }
}

@keyframes stars {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
